POSTGRES_USER=autoservice
POSTGRES_PASSWORD=change-me
POSTGRES_DB=autoservice

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me

REGISTRY_HOST=127.0.0.1
REGISTRY_PORT=5000
REGISTRY_USER=autoservice
REGISTRY_PASSWORD=change-me
REGISTRY_HTTP_SECRET=change-me
